.dropdown__wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  animation: open-dropdown 0.4s ease-in;

  @media screen and (width <= 768px) {
    flex-direction: column;
    width: 100%;
  }
  & h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    // width: 36.375rem;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--red);
    color: var(--white);
  }
  & p {
    position: relative;
    // margin-top: -0.5rem;
    z-index: 1;
    padding: 1.25rem;
    border-radius: 0rem 0rem 0.3125rem 0.3125rem;
    background: var(--gray, #f6f6f6);
  }
}

.dropdown__content__container {
  width: 100%;
  background-color: var(--grey);
  position: relative;
  border-radius:0rem 0rem 0.625rem 0.625rem;
  z-index: 8;
  // animation: open-dropdown 0.4s ease-in;
}


.dropdown__title__container {
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  background-color: var(--red);
  border-radius: 0.625rem;
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.dropdown__content{
  animation: open-dropdown 0.4s ease-in;
  transition: ease-in 0.3s;
}
@keyframes open-dropdown {
  from {
    transform: translateY(-100%);
  }
}

@keyframes close-dropdown {
  to {
    transform: translateY(0%);
  }
}

.dropdown__title__container img {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
