.appartement__container{
  /* display: flex;
  flex-wrap: wrap; */
}

.appartement__flex{
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.appartement__card{
  display: flex;
  justify-content: flex-start;
  align-items: end;
  /* flex-basis: 30%; */
  /* margin: 1.5rem; */
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 0.625rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  background-color: var(--red);
  padding: 0.5rem;
  color: var(--white);
}
