.navbar__component{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar__component a{
  color: var(--red);
  font-weight: 500;
  font-size: 1.5rem;
}

.navbar__right__container{
  display: flex;
  gap: 3rem;
}

.navbar__img__logo{
  width: 13rem;
  cursor: pointer;
}
