.appartement__wrapper {
  color: var(--red);
  .banner__container {
    position: relative;
    width: 100%;
    height: 25rem;
    max-height: 25rem;
    border-radius: 1.5625rem;
    overflow: hidden;
    & h1{
      display: none;
    }
    @media screen and (width <= 768px) {
      width: 100%;
      max-height: 15rem;
    }
  }
  & h1 {
    color: var(--red);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    @media screen and (width <= 768px) {
      font-size: 1.125rem;
    }
  }
  & h2 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    @media screen and (width <= 768px) {
      font-size: 0.875rem;
    }
  }
  & h3 {
    width: 100%;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    @media screen and (width <= 768px) {
      font-size: 0.75rem;
    }
  }
}
