.banner__container{
  margin-top: 2rem;
  width: 100%;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: var(--black);
  opacity: 30%;
}

.banner__img{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

h1{
  z-index: 1;
  color: var(--white);
  font-size: 3rem;
  font-weight: 500;
}

@media screen and (min-device-width : 320px) and (max-device-width : 767px) {
  h1{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .banner__container{
    height: 7rem;
  }
}
