footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  background-color: var(--black);
  color: var(--white);
  padding-top: 4rem;
  padding-bottom: 2rem;
}
