:root{
  --red: #FF6060;
  --white: #fff;
  --black: #000;
  --grey: #F6F6F6;
}

body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
